extends ../layout

block title
	title Mentor | HackMIT presents: Blueprint

block nav
	include ../nav

block content

	script(src="/js/jquery.simplyCountable.js")
	script(src="/js/mentor.js") 

	.section.short#mentor
		.wrap
			header
				h1.sans Mentor

	.section.white.register.mentor
		.wrap
			p The students attending Blueprint will have a wide range of abilities: some have never coded before, while others have followed Java tutorials since age 4. <strong>As a mentor, your role is to help groups at all points along this spectrum build their ideas.</strong>

			p As the event progresses, you’ll develop a relationship with a few groups based on the match between your skills and their requirements, and you’ll both be routinely checking in with these groups and floating around in case other groups need you!

			p We’re looking for mentors from many different backgrounds—industry, academia, and colleges and universities—with a wide variety of skills who can inspire and connect with high school students. Specific skills could include:
			ul
				li Experience with programming languages (We see Python, Java, Ruby, and Objective-C the most at our events)
				li iOS and Android app development
				li Web design (HTML/CSS) and/or web development (Javascript/PHP/Ruby)
				li Art design
				li Creative thinking and planning
				li Entrepreneurship
				li Public speaking
				li Idea generation

			p
				strong Mentor applications are now closed. Thanks for your support!

		.clear

		//-
			form.wrap(id="register", name="register", accept-charset="UTF-8", autocomplete="off", enctype="multipart/form-data", method="post", action="https://techx.wufoo.com/forms/z150z4qk0pjj9wm/#public")
				section#personalinfo
					h3 Mentor Registration

					label(id="label_name", for="Field1") Name
					input(id="name", name="Field1", type="text", class="medium", spellcheck="false", required)
					
					label(id="label_email", for="Field2") Email
					input(id="email", name="Field2", type="email", class="medium", spellcheck="false", required)

					label(id="label_tshirt", for="Field3") T-shirt Size
					select(id="tshirt", name="Field3")
						option(value="Unisex XS") Unisex XS
						option(value="Unisex S") Unisex S
						option(value="Unisex M" selected) Unisex M
						option(value="Unisex L") Unisex L
						option(value="Unisex XL") Unisex XL
						option(value="Woman&#8217;s XS") Woman&#8217;s XS
						option(value="Woman&#8217;s S") Woman&#8217;s S
						option(value="Woman&#8217;s M") Woman&#8217;s M
						option(value="Woman&#8217;s L") Woman&#8217;s L
						option(value="Woman&#8217;s XL") Woman&#8217;s XL

					label(id="label_status", for="Field5") University / Company
					input(id="email", name="Field5", type="text", class="medium", spellcheck="false", required)

					label(id="label_nametag", for="Field4") My top skills are:
					input(id="nametag", name="Field4", placeholder="Android, C++, Web Design, Skiing", maxlength="35", required)
					span This list of top skills will go on your name badge. <strong id="counter"></strong> characters remaining.

					#mentoranswer

						label(id="label_mentorskills", for="Field6") Please tell us a bit more about your technical skills.
						textarea(id="mentorskills", name="Field6" placeholder="This question is optional, but it helps us figure out how to best place you in our event.", spellcheck="true")

						label(id="label_teachexp", for="Field7") Please tell us about any experience you have with instructing/teaching students.
						textarea(id="teachexp", name="Field7" placeholder="This question is optional, but it helps us figure out how to best place you in our event.", spellcheck="true")

					.clear

			
				#mentorwaiver
					h4 Blueprint Mentor Policies
					p Revision 1; revised Dec 28, 2013


				.clear

			section#submit
				h3 Submit
				p You made it! Press the button below to register.

				input(id="saveform", name="saveForm", type="submit", value="Submit and Register!")

				.clear

			section#hidden
				input(id="idstamp", name="idstamp", type="hidden", value="D91J2p80U0OUP6uo7WIsEVp66QJmmhPH7XL7owCLOqQ=")