
<div class="section">
<div class="wrap">
        
<form id="form6" name="form6" class="wufoo leftLabel" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="https://hackmit.wufoo.com/forms/w3zcfz20ifxgk2/#public">

<ul>
<li id="foli107" class="notranslate first section">
<section>
<h3 id="title107">
Personal Info
</h3>
<div id="instruct107"></div>
</section>
</li><li id="foli1" class="notranslate">
<label class="desc" id="title1" for="Field1">
Name
</label>
<span>
<input id="Field1" name="Field1" type="text" class="field text medium" value="" spellcheck="false" tabindex="1" required />
</span>
<span>
</li>
<li id="foli105" class="notranslate">
<label class="desc" id="title105" for="Field105">
Email
</label>
<div>
<input id="Field105" name="Field105" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" required /> 
</div>
</li>
<li id="foli4" class="notranslate">
<label class="desc" id="title4" for="Field4">
High School
</label>
<div>
<input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="4" onkeyup="" required />
</div>
</li><li id="foli441" class="notranslate">
<label class="desc " id="title441" for="Field441">
Grade
</label>
<div>
<input id="Field441" name="Field441" type="text" class="field text nospin small"  value="" min="9" max="12" maxlength="5" tabindex="5" onkeyup="validateRange(441, 'value');" />
<label for="Field441">Enter a grade between 9&ndash;12.<br>If you aren't in high school, <a href="mailto:blueprint@hackmit.org">contact us</a>.</label>
</div>
</li><li id="foli3" class="phone notranslate">
<label class="desc" id="title3" for="Field3">
Cell Phone Number
</label>
<span>
<input id="Field3" name="Field3" type="tel" class="field text medium" value="" size="3" maxlength="12" tabindex="6" />
</span>
</li><li id="foli325" class="notranslate section">
<section>
<h3 id="title325">
Event Logistics
</h3>
<div id="instruct325">Tell us about you</div>
</section>
</li><li id="foli439" class="notranslate ">
<label class="desc" id="title439" for="Field439">
T-Shirt Size
</label>
<div>
<select id="Field439" name="Field439" class="field select medium" tabindex="9" > 
<option value="Men&#039;s XS" selected="selected">
Men's XS
</option>
<option value="Men&#039;s Small" >
Men's Small
</option>
<option value="Men&#039;s Medium" >
Men's Medium
</option>
<option value="Men&#039;s Large" >
Men's Large
</option>
<option value="Men&#039;s XL" >
Men's XL
</option>
<option value="Woman&#039;s XS" >
Woman's XS
</option>
<option value="Woman&#039;s Small" >
Woman's Small
</option>
<option value="Woman&#039;s Medium" >
Woman's Medium
</option>
<option value="Woman&#039;s Large" >
Woman's Large
</option>
<option value="Woman&#039;s XL" >
Woman's XL
</option>
</select>
</div>
</li>
<li id="foli211" class="notranslate ">
<label class="desc" id="title211" for="Field211">
Dietary Restrictions
</label>
<div>
<select id="Field211" name="Field211" class="field select medium" tabindex="10" > 
<option value="None" selected="selected">
None
</option>
<option value="Vegetarian" >
Vegetarian
</option>
<option value="Vegan" >
Vegan
</option>
<option value="Gluten Free" >
Gluten Free
</option>
<option value="Kosher" >
Kosher
</option>
<option value="Halal" >
Halal
</option>
<option value="Other" >
Other
</option>
</select>
</div>
</li>
<li id="foli442" class="notranslate">
<label class="desc" id="title442" for="Field442">
Other Dietary Restriction
</label>
<div>
<input id="Field442" name="Field442" type="text" class="field text medium" value="" maxlength="255" tabindex="11" onkeyup="" />
</div>
</li><li id="foli326" class="notranslate">
<fieldset>
<legend id="title326" class="desc">
Will you be bringing a laptop?
</legend>
<label id="title326" class="desc">
Will you be bringing a laptop?
</label>
<div>
<input id="radioDefault_326" name="Field326" type="hidden" value="" />
<span>
<input id="Field326_0" name="Field326" type="radio" class="field radio" value="Yes" tabindex="12" checked="checked" />
<label class="choice" for="Field326_0" >
Yes</label>
</span>
<span>
<input id="Field326_1" name="Field326" type="radio" class="field radio" value="No" tabindex="13" />
<label class="choice" for="Field326_1" >
No</label>
</span>
</div>
</fieldset>
<p class="instruct" id="instruct326"><small>Let us know if we need to supply you with a laptop.</small></p>
</li><li id="foli444" class="notranslate  twoColumns     ">
<fieldset>
<legend id="title444" class="desc">
I have experience with:
</legend>
<label id="title444" class="desc">
I have experience with:
</label>
<div>
<span>
<input id="Field444" name="Field444" type="checkbox" class="field checkbox" value="Python" tabindex="14" />
<label class="choice" for="Field444">Python</label>
</span>
<span>
<input id="Field445" name="Field445" type="checkbox" class="field checkbox" value="C" tabindex="15" />
<label class="choice" for="Field445">C</label>
</span>
<span>
<input id="Field446" name="Field446" type="checkbox" class="field checkbox" value="Java" tabindex="16" />
<label class="choice" for="Field446">Java</label>
</span>
<span>
<input id="Field447" name="Field447" type="checkbox" class="field checkbox" value=".NET" tabindex="17" />
<label class="choice" for="Field447">.NET</label>
</span>
<span>
<input id="Field448" name="Field448" type="checkbox" class="field checkbox" value="Scala/Haskell/Clojure" tabindex="18" />
<label class="choice" for="Field448">Scala/Haskell/Clojure</label>
</span>
<span>
<input id="Field449" name="Field449" type="checkbox" class="field checkbox" value="LOLCAT" tabindex="19" />
<label class="choice" for="Field449">LOLCAT</label>
</span>
<span>
<input id="Field450" name="Field450" type="checkbox" class="field checkbox" value="Assembly" tabindex="20" />
<label class="choice" for="Field450">Assembly</label>
</span>
<span>
<input id="Field451" name="Field451" type="checkbox" class="field checkbox" value="Impromptu jokes" tabindex="21" />
<label class="choice" for="Field451">Impromptu jokes</label>
</span>
</div>
</fieldset>
</li><li id="foli214" class="notranslate">
<fieldset>
<legend id="title214" class="desc">
Do you have a team already in mind?
</legend>
<label id="title214" class="desc">
Do you have a team already in mind?
</label>
<div>
<input id="radioDefault_214" name="Field214" type="hidden" value="" />
<span>
<input id="Field214_0" name="Field214" type="radio" class="field radio" value="No, please help me find a team!" tabindex="22" checked="checked" />
<label class="choice" for="Field214_0" >
No, please help me find a team!</label>
</span>
<span>
<input id="Field214_1" name="Field214" type="radio" class="field radio" value="Yes, from my school" tabindex="23" />
<label class="choice" for="Field214_1" >
Yes, from my school</label>
</span>
<span>
<input id="Field214_2" name="Field214" type="radio" class="field radio" value="Yes, from a bunch of different schools" tabindex="24" />
<label class="choice" for="Field214_2" >
Yes, from a bunch of different schools</label>
</span>
</div>
</fieldset>
</li><li id="foli316" class="notranslate    private  ">
<label class="desc" id="title316" for="Field316">
Table Number
</label>
<div>
<input id="Field316" name="Field316" type="text" class="field text medium" value="" maxlength="255" tabindex="25" onkeyup="" />
</div>
</li>

<li id="foli108" class="notranslate section">
<section>
<h3 id="title108">
Short Answer
</h3>
<div id="instruct108">Why do you want to come to HackMIT Pilot? Answer these short questions as concisely as you can. We're not looking for amazing poetry or that you already know how to build your own programming language; just let us know the truth.</div>
</section>
</li><li id="foli106" 
class="notranslate"><label class="desc" id="title106" for="Field106">
What do you want to learn at HackMIT Pilot? (100 words or less)
<span id="req_106" class="req">*</span>
</label>

<div>
<textarea id="Field106" 
name="Field106" 
class="field textarea medium" 
spellcheck="true" 
rows="10" cols="50" 
tabindex="26" 
onkeyup="validateRange(106, 'word');"
required  ></textarea>

<label for="Field106">Maximum Allowed: <var id="rangeMaxMsg106">100</var> words.&nbsp;&nbsp;&nbsp; <em class="currently">Currently Used: <var id="rangeUsedMsg106">0</var> words.</em></label>
</div>
</li><li id="foli435" class="notranslate section">
<section>
<h3 id="title435">
Legal & Safety
</h3>
<div id="instruct435">We need to make sure things go smoothly, so read the below text carefully and initial in the box below.</div>
</section>
</li><li id="foli545" class="notranslate">
<label class="desc" id="title545" for="Field545">
Emergency Contact Name
<span id="req_545" class="req">*</span>
</label>
<span>
<input id="Field545" name="Field545" type="text" class="field text fn" value="" size="8" tabindex="27" required />
<label for="Field545">First</label>
</span>
<span>
<input id="Field546" name="Field546" type="text" class="field text ln" value="" size="14" tabindex="28" required />
<label for="Field546">Last</label>
</span>
</li>
<li id="foli547" class="phone notranslate">
<label class="desc" id="title547" for="Field547">
Emergency Contact Phone Number
<span id="req_547" class="req">*</span>
</label>
<span>
<input id="Field547" name="Field547" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="29" required />
<label for="Field547">###</label>
</span>
<span class="symbol">-</span>
<span>
<input id="Field547-1" name="Field547-1" type="tel" class="field text" value="" size="3" maxlength="3" tabindex="30" required />
<label for="Field547-1">###</label>
</span>
<span class="symbol">-</span>
<span>
 <input id="Field547-2" name="Field547-2" type="tel" class="field text" value="" size="4" maxlength="4" tabindex="31" required />
<label for="Field547-2">####</label>
</span>
</li>
<li id="foli551" class="notranslate">
<fieldset>
<legend id="title551" class="desc">
Emergency Contact Relation
</legend>
<label id="title551" class="desc">
Emergency Contact Relation
</label>
<div>
<input id="radioDefault_551" name="Field551" type="hidden" value="" />
<span>
<input id="Field551_0" name="Field551" type="radio" class="field radio" value="Mother" tabindex="32" checked="checked" />
<label class="choice" for="Field551_0" >
Mother</label>
</span>
<span>
<input id="Field551_1" name="Field551" type="radio" class="field radio" value="Father" tabindex="33" />
<label class="choice" for="Field551_1" >
Father</label>
</span>
<span>
<input id="Field551_2" name="Field551" type="radio" class="field radio" value="Guardian" tabindex="34" />
<label class="choice" for="Field551_2" >
Guardian</label>
</span>
<span>
<input id="Field551_3" name="Field551" type="radio" class="field radio" value="Other" tabindex="35" onmouseup="document.getElementById('Field551_other').focus();" />
<label class="choice" for="Field551_3"  onmouseup="document.getElementById('Field551_other').focus();">
Other</label>
<input id="Field551_other" name="Field551_other_Other" type="text" class="field text other" value="" onclick="document.getElementById('Field551_3').checked = 'checked';" tabindex="36" />
</span>
</div>
</fieldset>
</li>

<li id="foli331" class="notranslate section scrollText     ">
<section>
<h3 id="title331">
HACKMIT PILOT IMPORTANT POLICIES
</h3>
<div id="instruct331">HackMIT Pilot is a safe and welcoming environment for all students and their creative ideas. We need to ensure we can maintain a great, positive atmosphere so you can focus on learning for yourself and inspiring others.<br />
<br />
By signing this waiver by typing your initials in the box below, you agree:<br />
<ul style="list-style: disc;"><br />
<li>I will not bring weapons of any kind to HackMIT Pilot. Firearms, knives, and other weapons are banned. If you can't bring it on an airplane, don't bring it here!</li><li>I will conduct myself in a respectful manner to others.</li><li>If I borrow a laptop from HackMIT Pilot, my trustworthy friends or I will never leave it unattended, and will return it in good condition.</li><br />
</ul></div>
</section>
</li><li id="foli328" class="notranslate">
<label class="desc" id="title328" for="Field328">
Safety Waiver
<span id="req_328" class="req">*</span>
</label>
<div>
<input id="Field328" name="Field328" type="file" class="field file" size="12" tabindex="37" required />
</div>
<p class="instruct" id="instruct328"><small>Please download the <a href="http://hackmit.org/pilot/safety.pdf">Safety Waiver</a> and either digitally sign it or sign on paper and scan it in. Upload it here.</small></p>
</li> <li class="buttons ">
<div>

  <input id="saveForm" name="saveForm" class="btTxt submit" 
    type="submit" value="Submit"
 /></div>
</li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="lDwJQgFQeUGQA8UOUcMJ9Xw6luC4gbKQEw+8eu0ZSmY=" />
</li>
</ul>
</form> 
