.section.leader
	.wrap
		header
			h1.sans Register

.section.white.register
	form.wrap(id="register", name="register", accept-charset="UTF-8", autocomplete="off", enctype="multipart/form-data", method="post", action="http://holachek.scripts.mit.edu/blueprint.php", novalidate)
		section#personalinfo
			h3 Personal Info

			label(id="label_name", for="name") Name
			input(id="name", name="name", type="text", class="medium", spellcheck="false", required)
			
			label(id="label_age", for="age") Age
			input(id="age", name="age", type="number", min="14", max="23", step="1", class="small", spellcheck="false", placeholder="16")
			
			label(id="label_email", for="email") Email
			input(id="email", name="email", type="email", class="medium", spellcheck="false", required)

			label(id="label_cellphone", for="cellphone") Cell Phone
			input(id="cellphone", name="cellphone", type="tel", class="medium", spellcheck="false", class="phone", required)			

			label(id="label_highschool", for="highschool") High School
			input(id="highschool", name="highschool", type="text", class="medium", spellcheck="false", required)

			label(id="label_grade", for="grade") Grade
			input(id="grade", name="grade", type="number", min="9", max="12", step="1", class="small", spellcheck="false", placeholder="9")
			span Enter a grade between 9&ndash;12.<br>If you aren't in high school, <a href="mailto:blueprint@hackmit.org">contact us</a>.

			.clear

		section#eventlogistics
			h3 Event Logistics

			label(id="label_tshirt", for="tshirt") T-shirt Size
			select(id="tshirt", name="tshirt")
				option(value="Unisex XS") Unisex XS
				option(value="Unisex S") Unisex S
				option(value="Unisex M" selected) Unisex M
				option(value="Unisex L") Unisex L
				option(value="Unisex XL") Unisex XL
				option(value="Woman&#8217;s XS") Woman&#8217;s XS
				option(value="Woman&#8217;s S") Woman&#8217;s S
				option(value="Woman&#8217;s M") Woman&#8217;s M
				option(value="Woman&#8217;s L") Woman&#8217;s L
				option(value="Woman&#8217;s XL") Woman&#8217;s XL

			span Enter your <a href="http://www.americanapparel.net/sizing/default.asp?chart=mu.shirts" target="_blank">American Apparel</a> T-shirt size

			label(id="label_dietary", for="dietary") Dietary Restrictions
			select(id="dietary", name="dietary")
				option(value="none" selected) None
				option(value="vegetarian") Vegetarian
				option(value="vegan") Vegan
				option(value="gluten-free") Gluten-Free
				option(value="no-peanuts") No Peanuts
				option(value="kosher") Kosher
				option(value="halal") Halal
				option(value="other") Other
			input(id="otherdietary", name="otherdietary", type="text", class="medium", spellcheck="false", placeholder="Specify other restrictions")
			span Please let us know how we can ensure you eat well!

			label(id="label_laptop", for="laptop") Will you be bringing a laptop?
			select(id="laptop", name="laptop")
				option(value="yes" selected) Yes
				option(value="no") No
			span#laptop We would appriciate it if you could bring a laptop from home.<br>If not, we'll do our best to set you up.

			//
				label(id="label_skills", for="skills") I have experience with:
				#skills
					.skill
						input(id="skills-java", type="checkbox", value="Java")
						label(for="skills-java") Java
					.skill
						input(id="skills-python", type="checkbox", value="Python")
						label(for="skills-python") Python
					.skill
						input(id="skills-c", type="checkbox", value="C")
						label(for="skills-c") C/C++
					.skill
						input(id="skills-html", type="checkbox", value="HTML/CSS")
						label(for="skills-html") HTML/CSS
					.skill
						input(id="skills-js", type="checkbox", value="Javascript")
						label(for="skills-js") Javascript
					.skill
						input(id="skills-impromptu", type="checkbox", value="Impromptu Jokes")
						label(for="skills-impromptu") Impromptu Jokes
				span Just for helping calibrate our presentations. Totally okay if you don't know any of these things!

			label(id="label_team", for="team") Do you already have a team?
			select(id="team", name="team")
				option(value="no" selected) Nope, help me find one!
				option(value="yes") Yes, I already have a team in mind.

			.clear

		section#shortanswer
			h3 Short Question
			p In order for us to make this the best high school hackathon ever, we need to make sure our mentors can help you learn what you want to learn! It's okay if you don't know yet!

			label(id="label_why", for="why") What do you want to learn/create at Blueprint?<br>(100 words or less)
			textarea(id="why", placeholder="e.g., I really want to learn how to make an iPhone app! (Feel free to be as specific or vague as you want. We'll have a brainstorming session at the event to help)", spellcheck="true", required)

			.clear
			
		section#parentcontact
			h3 Parent/Guardian Info

			label(id="label_parentname", for="parentname") Parent/Guardian Name
			input(id="parentname", name="parentname", spellcheck="false", type="text", required)

			label(id="label_parentphone", for="parentphone") Parent/Guardian Phone
			input(id="parentphone", name="parentphone", spellcheck="false", type="tel", class="phone", required)

			label(id="label_parentemail", for="parentemail") Parent/Guardian Email
			input(id="parentemail", name="parentemail", spellcheck="false", type="email", required)

			.clear

		section#safety
			h3 Legal Waiver

			#safetywaiver
				h4 Blueprint Important Safety Policies and Media Release
				p Revision 1; revised Dec 26, 2013

				p TechX HackMIT (an MIT student organization) presents Blueprint, a 12-hour Pilot event where high school students work together in teams to design, build, and pitch their own apps and websites. Blueprint aims provide a <strong>safe and welcoming environment for all students</strong> and their creative ideas. We need to ensure we can maintain a positive atmosphere so you can focus on learning and inspiring others.

				p In the following policies, “I” and “you” is defined as the high school student attendee registering this application. “Your parent/guardian” refers to the parent or legal guardian of the high school student attendee. <strong>By clicking "Submit" below, you and your parent/guardian agree to the following</strong>:

				ul
					li I will <strong>not bring weapons of any kind to Blueprint</strong>. Firearms, knives, and other weapons are banned. If you can't bring it on an airplane, don't bring it here!
					li I will <strong>not bring anything illegal</strong> to Blueprint.
					li I will conduct myself in a manner respectful to others. If I don’t, I understand I may be asked to leave before the event is finished.
					li If I borrow a laptop from Blueprint, I will never leave it unattended, and will return it in good condition.
					li I hereby <strong>grant permission to Blueprint and its staff to photograph or record my image, likeness, or depiction</strong> for use in promotional and press materials.
					li I agree that if I am under age 18, I have reviewed this document with my parent/guardian and they agree to the conditions herein on my behalf.

				//
					p In summary, don’t bring any weapons or anything illegal. Be respectful to yourself, other attendees, and event staff. If we lend you a laptop, we expect it will be returned in the condition it was lended out to you. You give us the right to use your picture in our marketing materials. Also, if you are a minor, make sure you parent or guardian has given you permission to attend.

				p With that out of the way, we know you’ll have a fantastic time at Blueprint! We can’t wait!

			.clear

		section#submit
			h3 Submit
			p You made it! Press the button below to register.

			input(id="altemail", name="altemail", type="text")

			input(id="saveform", name="saveform", type="submit", value="Submit and Register!")

			.clear

		section#hidden
			input(id="idstamp", name="idstamp", type="hidden", value="lDwJQgFQeUGQA8UOUcMJ9Xw6luC4gbKQEw+8eu0ZSmY=")