.section.leader.darkblue
    .wrap
        header
            span#first HackMIT presents:
            h1 Blueprint
            span#pilot A <a href="#">Pilot</a> event

        h2 Build your skills. Change the world.<br>February 22, 2014.
        a(class='button register', href='/register') <i class="fa fa-rocket"></i> Register

        h3#google hosted at<br>
            img(src="/img/sponsors/google.png")
            <br><span>Cambridge</span>

.section.white
    .wrap
        h2 Have you been waiting to turn your great idea into a real app? Wish you knew how to code? Blueprint is an exciting <strong class="blue bordertext">12-hour hackathon</strong> for Boston-area high school students of <strong class="blue bordertext">all skill levels</strong>. Develop your programming skills, meet other excited coders, and find opportunities to ignite your passions.

.section.dark.sponsors
    .wrap
        h2 Sponsors
        #sponsorlogo
            a(href='http://mitadmissions.org')
                img(src='/img/sponsors/mitadmissions.png')
            a(href='http://techx.mit.edu')
                img(src='/img/sponsors/techx.png')
            a(href='http://google.com')
                img(src='/img/sponsors/google.png')


        h5 Interested in sponsoring? View the <a href="#">sponsorship information packet</a>.

.section.white
    .wrap
        h2 Ready to change the world?
        a(class='button register', href='/register') Register
        h3 Questions? Look at our FAQ! You can also ask us on Twitter, Facebook, or via email at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>.