.section.leader.darkblue
    .wrap
        header
            span#first <a href="http://hackmit.org">HackMIT</a> presents:
            h1 Blueprint
            span#pilot A <a href="http://www.gopilot.org/">Pilot</a> event

        h2 Build your skills. Change the world.<br>February 22, 2014.
        a(class='button register', href='/register') <i class="fa fa-rocket"></i> Register

        h3#google hosted at<br>
            img(src="/img/sponsors/google.png")
            <br><span>Cambridge</span>

.section.white
    .social
                #facebook <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmitblueprint&amp;width=30&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:55px;" allowTransparency="true"></iframe>

                #twitter <a href="https://twitter.com/MITBlueprint" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @MITBlueprint</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    .clear.noheight

    .wrap

        h2 Have you been waiting to turn your great idea into a real app? Wish you knew how to code? Blueprint is an exciting <strong class="blue bordertext">12-hour hackathon</strong> for Boston-area high school students of <strong class="blue bordertext">all skill levels</strong>. Develop your programming skills, meet other excited coders, and find opportunities to ignite your passions.

.section.dark.sponsors
    .wrap
        h2 Sponsors
        .sponsorlogo
            a(href='http://mit.edu')
                img(src='/img/sponsors/mit_withtext.png')#mit
            a(href='http://techx.mit.edu')
                img(src='/img/sponsors/techx.png')#techx
            a(href='http://google.com')
                img(src='/img/sponsors/google.png')#google


        h5 Interested in sponsoring? View the <a href="#">sponsorship information packet</a>.

.section.white
    .wrap
        h2 Ready to change the world?
        a(class='button register', href='/register') Register
        h3 Questions? Look at our <a href="/faq">FAQ</a>!