extends layout

block title
    title Home | HackMIT presents: Blueprint

block content
    .section.leader.darkblue
        .wrap
            header
                span#first <a href="http://hackmit.org" target="_blank">HackMIT</a> presents:
                #logotext
                span#pilot <a href="http://www.gopilot.org/" target="_blank">a <img src="/img/pilot_plane.png"> event</a>

            h2
                p
                    span Build your skills. 
                    span Change the world.<br>
                span v2. 2015.

            //-a(class='button register', href='/waitlist') <i class="fa fa-rocket"></i> Register for Waitlist
            //-strong Registration has closed.

            <iframe width="853" height="480" src="//www.youtube-nocookie.com/embed/_kp75AARMyI?rel=0" frameborder="0" allowfullscreen></iframe>

            .clear.noheight

    nav.homepage
        .wrap
            img(src='/img/blueprint_block.png')#blueprint
            a(href="/") Home
            a(href="/faq") FAQ
            a(href="/logistics") Logistics
            //-a(href="/register").register <i class="fa fa-rocket"></i> Waitlist
            .social
                #twitter <a href="https://twitter.com/MITBlueprint" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @MITBlueprint</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                #facebook <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmitblueprint&amp;width=30&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>


    .section.white.mast
        .wrap
            h2 Blueprint is an exciting <strong class="blue bordertext">14-hour workshop</strong> for high school students of <strong class="blue bordertext">all skill levels</strong>. Develop your programming skills, meet other excited coders, and discover opportunities to ignite your passions.<br><br><strong>Time:</strong> February 22, 2014. 8AM &ndash; 10:30PM.<br><strong>Place:</strong> <a href="https://goo.gl/maps/8mgGE">Google Cambridge</a>, 5 Cambridge Center<br><small>right next to <a href="http://www.mbta.com/schedules_and_maps/subway/lines/stations/?stopId=12412"><span class="red">Kendall/MIT</a></span> T stop</small>

            h3 Questions? Look at our <a href="/faq">FAQ</a>!
    .section.light.sponsors
        .wrap
            h2 Special thanks to
            .sponsorlogo
                a(href='http://studentlife.mit.edu/sao', target='blank')
                    img(src='/img/sponsors/mit.png')#mit
                a(href='http://techx.mit.edu', target='blank')
                    img(src='/img/sponsors/techx_color.png')#techx
                a(href='http://www.gopilot.org', target='blank')
                    img(src='/img/sponsors/pilot.png')#pilot
                a(href='http://www.google.com/about/locations/boston/', target='blank')
                    img(src='/img/sponsors/google_color.png')#google
                .smallclear
                a(href='https://medium.com', target='blank')
                    img(src='/img/sponsors/medium.png')#medium
                a(href='http://www.mongodb.com/', target='blank')
                    img(src='/img/sponsors/mongodb.png')#mongodb
                a(href='https://www.twilio.com/', target='blank')
                    img(src='/img/sponsors/twilio.png')#twilio
                a(href='http://a9.com/', target='blank')
                    img(src='/img/sponsors/a9.png')#a9
                a(href='https://www.makegameswith.us/', target='blank')
                    img(src='/img/sponsors/mgwu.png')#mgwu

            .clear

            //- h5 Interested in sponsoring? View the <a href="/BlueprintSponsorship.pdf">sponsorship information packet</a>.

    .section.white
        .wrap
            //-h2 Ready to change the world?&nbsp;
                    a(href='/register') Register for the waitlist now.

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js")
    script(src="/js/homepage.js")