extends layout

block title
    title Home | HackMIT presents: Blueprint
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js")
    script(src="/js/homepage.js")

block content
    .section.leader.darkblue
        .wrap
            header
                span#first <a href="http://hackmit.org" target="_blank">HackMIT</a> presents:
                #logotext
                span#pilot <a href="http://www.gopilot.org/" target="_blank">a <img src="/img/pilot_plane.png"> event</a>

            h2
                p
                    span Build your skills. 
                    span Change the world.<br>
                span Google Cambridge. February 22, 2014.

            a(class='button register', href='/register') <i class="fa fa-rocket"></i> Register

            a(class='button register', href='/mentor') <i class="fa fa-users"></i> Mentor

            .clear.noheight

    nav.homepage
        .wrap
            img(src='/img/blueprint_block.png')#blueprint
            a(href="/") Home
            //
                a(href="/logistics") Logistics
            a(href="/faq") FAQ
            a(href="/register").register <i class="fa fa-rocket"></i> Register
            .social
                #twitter <a href="https://twitter.com/MITBlueprint" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @MITBlueprint</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                #facebook <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmitblueprint&amp;width=30&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>


    .section.white.mast
        .wrap
            h2 Blueprint is an exciting <strong class="blue bordertext">14-hour workshop</strong> for high school students of <strong class="blue bordertext">all skill levels</strong>. Develop your programming skills, meet other excited coders, and discover opportunities to ignite your passions.

            h3 Questions? Look at our <a href="/faq">FAQ</a>!
    .section.light.sponsors
        .wrap
            h2 Sponsors
            .sponsorlogo
                a(href='http://studentlife.mit.edu/sao', target='blank')
                    img(src='/img/sponsors/mit.png')#mit
                a(href='http://techx.mit.edu', target='blank')
                    img(src='/img/sponsors/techx_color.png')#techx
                a(href='http://www.gopilot.org', target='blank')
                    img(src='/img/sponsors/pilot.png')#pilot
                a(href='http://www.google.com/about/locations/boston/', target='blank')
                    img(src='/img/sponsors/google_color.png')#google

            .clear

            h5 Interested in sponsoring? View the <a href="/BlueprintSponsorship.pdf">sponsorship information packet</a>.

    //-
        .section.dark
            .wrap
                h2 Blueprint Team
                .clear
                    .person
                        img(src='http://placehold.it/130x150')
                        a(href='mailto:nmsingh@mit.edu')
                            h5 Nalini Singh
                        h6 Customer Service
                    .person
                        img(src='http://placehold.it/130x150')
                        a(href='mailto:holachek@mit.edu')
                            h5 Michael Holachek
                        h6 Branding & Publicity
                    .person
                        img(src='http://placehold.it/130x150')
                        a(href='mailto:aneesh1@mit.edu')
                            h5 Aneesh Agrawal
                        h6 Mentorship
                    .person
                        img(src='http://placehold.it/130x150')
                        a(href='mailto:jjz@mit.edu')
                            h5 Jennifer Zhang
                        h6  Sponsorship
                    .person
                        img(src='http://placehold.it/130x150')
                        a(href='mailto:zhangd@mit.edu')
                            h5 David Zhang
                        h6 Logistics
                    .person
                        img(src='http://placehold.it/130x150')
                        a(href='mailto:birdy@mit.edu')
                            h5 Barbara Duckworth
                        h6 Food & Event Program
                    .person
                        img(src='http://placehold.it/130x150')
                        a(href='mailto:alice_wu@mit.edu')
                            h5 Alice Wu
                        h6 Finance
    .section.white
        .wrap
            h2 Ready to change the world?&nbsp;
                    a(href='/register') Register now.