!!!
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='description of your site')
        meta(name='author', content= "author of the site")
        <meta name="viewport" content="width=device-width, user-scalable=false, initial-scale=1, maximum-scale=1">

        title
            | Pilot + hackMIT

        link(rel='stylesheet', href='css/master.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')
    body
        nav
            .wrap
                a(href="#") Home
                a(href="#") Logistics
                a(href="#") FAQ
                a(href="#").right Register

        .section.leader
            .wrap
                header
                    span HackMIT and Pilot present:
                    h1 Blueprint

                h2 The best day in history.<br>February 22, 2014.
                a(class='button register', href='#') <i class="fa fa-rocket"></i> Register

                h3#google hosted at<br>
                    img(src="/img/sponsors/google.png")
                    <br>Cambridge

        .section.white
            .wrap
                h2 Ever wish someone had made the next big thing? What if you could build it? A hackathon is the place to make your dreams come true.

        .section.dark.sponsors
            .wrap
                h2 Sponsors
                img(src="/img/sponsors/mitadmissions.png")
                img(src="/img/sponsors/techx.png")

                h5 Interested in sponsoring? Let us know at pilot@hackmit.org.

        .section.white
            .wrap
                h2 Ready to change the world?
                a(class='button register', href='#') Register
                h3 Questions? Look at our FAQ! You can also ask us on Twitter, Facebook, or via email at pilot@hackmit.org.

        footer.section
            .wrap.dark
                p Organized by TechX HackMIT, an MIT student organization.
                .four
                    h4 For students
                    ul
                        li
                            a(href='#') Logistics
                        li
                            a(href='#') FAQ
                        li
                            a(href='#') Student Info
                        li
                            a(href='#') Registration
                .four
                    h4 For parents / teachers
                    ul
                        li
                            a(href='#') Goals
                        li
                            a(href='#') FAQ
                        li
                            a(href='#') Safety
                        li
                            a(href='#') Transport
                .four
                    h4 For volunteers
                    ul
                        li
                            a(href='#') Mentors
                        li
                            a(href='#') Volunteers
                .break
                .social Social media goes here.



        //- add other scripts through require.js, not here
        script(data-main="js/main", src="js/require.js")

        //- this must be included for live reload to work in developement
        //- it will be automatically ignored when deployed
        != livereload
