!!!
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='Blueprint is an exciting 12-hour hackathon for Boston-area high school students of all skill levels.')
        meta(name='author', content= "Blueprint")
        <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, maximum-scale=1">

        title
            | Blueprint: Architect your world

        link(rel='stylesheet', href='/css/fonts/font.css')
        link(rel='stylesheet', href='/css/master.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')
    body
        nav
            .wrap
                a(href="/") Home
                a(href="/logistics") Logistics
                a(href="/faq") FAQ
                a(href="/register").right <i class="fa fa-rocket"></i> Register

        != content

        footer.section
            .wrap.dark
                p Organized by TechX HackMIT, an MIT student organization. <br> Contact us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a> or via <a href="#">Twitter</a> or <a href="#">Facebook</a>.
                .four
                .four
                    h4 <a href="#">For parents / teachers</a>
                .four
                    h4 <a href="#">For volunteers</a>
                .break
                .social Social media goes here.



        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")
        script(src="/js/jquery.formatter.js")
        script(src="/js/main.js")        

        //- this must be included for live reload to work in developement
        //- it will be automatically ignored when deployed
        != livereload
