!!!
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='Blueprint is an exciting 14-hour hackathon for high school students of all skill levels, February 22, 2014 at Google Cambridge.')
        meta(name='author', content= "HackMIT presents: Blueprint")
        <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        block title

        link(rel='stylesheet', href='/css/fonts/font.css')
        link(rel='stylesheet', href='/css/master.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')

        <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script><![endif]-->
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js")
        script(src="/js/main.js")
    body
        block nav

        block content

        footer.section
            .wrap.dark
                p <a href="#" class="top"><i class="fa fa-arrow-circle-up"></i> Top of Page</a>
                p Organized by TechX HackMIT, an MIT student organization. <br> Contact us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a> or via <a href="https://twitter.com/MITBlueprint">Twitter</a> or <a href="https://www.facebook.com/mitblueprint">Facebook</a>.
                .links
                    h4 <a href="/BlueprintParentsInfosheet.pdf">For parents &raquo;</a>
                    h4 <a href="/mentor">For mentors &raquo;</a>
                    h4 <a href="/teachers">For teachers &raquo;</a>
                    //
                        h4 <a href="/BlueprintMediaKit.zip">Media kit &raquo;</a>
                .break

        include google_analytics.html 

        //- this must be included for live reload to work in developement
        //- it will be automatically ignored when deployed
        != livereload
