extends ../../layout

block title
	title Waitlist Registration Complete | HackMIT presents: Blueprint

block nav
	include ../../nav

block content
	.section.short
		.wrap
			header
				h1.sans Register for Waitlist

	.section.white.register
		.wrap
			h3 <i class="fa fa-check"></i> Waitlist registration completed.
			p Thanks for your time.
			strong We will notify you automatically via email if you get a spot.