.section.leader
    .wrap
        header
            h1 Logstics

.section.white
    .wrap
        h3 This page will share everything you need to know to have a great time at our event. Please read it carefully. If you have questions, try checking out the <a href="/faq">FAQ</a>. If you still have a question, please email us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>. During the event you can also call us on our phone hotline: ###-#HAK###

    .wrap
        h3 The event is being held at Google Cambridge. There will be a standing zone for traffic. Check-in will happen in the first-floor lobby, after which you will take the elevator to the fourth floor event space.
        .google-maps
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47157.07394291282!2d-71.11290965!3d42.37839045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x15ec56a50f0627cb!2sGoogle+Cambridge!5e0!3m2!1sen!2sus!4v1387838290223" width="100%" height="450" frameborder="0" style="border:0"></iframe>
        span Google Cambridge<br>5 Cambridge Center<br>Cambridge, MA


        h2 Check-in
        p Check-in will start at 8AM and go until 9AM. We recommend you get there as close to 8AM as possible. We will have a standing zone for student drop off in front of the entrance--just look for the “Drop Off” sign. In the interest of traffic flow, parents should drop off their students and not leave their vehicle. If parents wish to explore the event, they should park at a nearby lot or garage and accompany their students into the event instead. Follow the signs to the check-in tables in the main lobby
        strong You will get a name badge. You must wear it at all times.

        h2 What to bring
        p Laptop, charger, 

        h2 Kick-off
        p The kick-off presentation will start at 9:00AM sharp and go for about 30 minutes.

        h2 Mentors
        p We realize that everyone will want to learn different topics. So we’ve gathered a group of 90 experts across many facets of technology and programming. Want to learn Android app development? No problem! 

        h2 Presentation series
        p We will hold presentations throughout the event on introductory programming topics.
        ul
            li Intro to Python
            li Intro to Android App Development
            li Intro to Java
            li Scala: The Next Level
            li Web Development with Node.js

        h2 Closing
        p Our event will end after the closing ceremony, around 10:45PM. You should be picked up by 11:15PM. You must sign out before leaving. We have a special gift for you at check-out.


.section.dark.sponsors
    .wrap
        h2 Schedule
        table
            <strong>8AM</strong> Doors open<br>
            <strong>9AM</strong> Kickoff<br>
            <strong>12PM</strong> Breakfast<br>
            <strong>3PM</strong> Afternoon cookie snack<br>
            <strong>8PM</strong> Hacking stops, judging starts; dinner<br>
            <strong>9:30PM</strong> Closing ceremony<br>
            <strong>10:30PM</strong> Finished


.section.white
    .wrap
        h2 Ready to change the world?
        a(class='button register', href='#') Register
        h3 Questions? Look at our FAQ! You can also ask us on Twitter, Facebook, or via email at blueprint@hackmit.org.