.section.leader
    .wrap
        header
            h1.sans Logistics

.section.white
    .wrap
        h3 This page includes all the logistics for our event; read it carefully. If you have questions, try checking out the <a href="/faq">FAQ</a>. If you still have a question, please email us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>.

.section.dark.logistics
    .wrap
        h2 Schedule
        table
            tbody
                tr
                    td <strong>8AM</strong>
                    td Doors open
                tr
                    td <strong>9AM</strong>
                    td Check-in closes; Kickoff ceremony
                tr
                    td <strong>12PM</strong>
                    td Lunch
                tr
                    td <strong>3PM</strong>
                    td Afternoon snack
                tr
                    td <strong>8PM</strong>
                    td Hacking stops, judging starts; dinner
                tr
                    td <strong>9:30PM</strong>
                    td Closing ceremony & awards
                tr
                    td <strong>10:30PM</strong>
                    td End of event

.section.white.logistics

    .wrap
        h2 Venue
        p The event is being held at Google Cambridge, a block away from MIT's <a href="http://en.wikipedia.org/wiki/Ray_and_Maria_Stata_Center">Stata Center</a> and main campus. Check-in will happen in the ground floor lobby, after which you will take the elevator to the fourth floor event space.

        .google-maps

        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgR2ZJ5ZQISyrXSrbOR_aeu36akazXzgk&sensor=true")
        script(src="/js/googlemaps.js")
        #map-canvas

        .four
            h3 Drop-off and Pick-up
            span There will be a standing zone in front of the lobby.<br><strong>GPS Address:</strong><br>Google Cambridge<br>5 Cambridge Center<br>Cambridge, MA
        .four
            h3 Drive yourself
            span There is street-side parking available around the around. Alternatively, there is a parking garage right behind 5 Cambridge Center. It costs $23 for 3-24 hours.
        .four
            h3 Take the T
            span Google Cambridge is less than a block away from the <span class="red">Kendall/MIT</span> stop on the Red line. Just look for the  signs to Blueprint.

        .clear

        //
            h2 Check-in and Kick-off
            p Check-in will start at 8AM and closes at 9AM. We recommend you get there as close to 8 as possible; <strong>no attendees will be allowed in after 9</strong>. Follow the signs to the check-in tables in the ground floor lobby. At check-in, you will get a bunch of awesome swag, and a name badge. You must wear your name tag at all times while inside the Google space.

        h2 What to bring
        p Laptop and charger. All attendees are required to bring a valid student ID for admission (name must match registration).

        //
            h2 Mentors
            p We realize that everyone will want to learn different topics. So we’ve gathered a group of 90 experts across many facets of technology and programming. Want to learn Android app development? No problem! 

            h2 Presentation series
            p We will hold presentations throughout the event on introductory programming topics.
            ul
                li Intro to Python
                li Intro to Android App Development
                li Intro to Java
                li Scala: The Next Level
                li Web Development with Node.js

            h2 Closing
            p Our event will end after the closing ceremony, around 10:45PM. You should be picked up by 11:15PM. You must sign out before leaving. We have a special gift for you at check-out.