@import '_settings'


// smaller header
@media(max-width: 1200px)
    #logotext
        width 460px
        height 110px
    .mast
        h2 span
            font-size 46px
    h3
        font-size 30px
    #first
        margin-left -210px

    header
        #pilot
            margin-left 310px
    .leader
        h2
            p
                margin-bottom -15px
                span
                    font-size 48px
            span
                font-size 32px
    .faq
        .seven
            width 45%
            &.right
                float right
            span
                font-size 22px

@media(max-width: 1100px)
    nav
        .social
            display none
    nav.homepage
        .social
            display block
        .register
            float right
    .section.sponsors
        h5
        .sponsorlogo
            a
                margin 10px 15px
                margin-left 0
                img
                    width 180px
                    padding 15px
                    opacity 1
                    &#pilot
                        width 90px
                    &#google
                        width 160px
                        margin-bottom -10px

@media(max-width: 900px)
    .leader
        background url(../img/dome_transparent_medium_compress.png)
        background-size auto 100%
        background-position bottom center
    .wrap
        padding-left 40px
        padding-right 40px
    .section.sponsors
        .sponsorlogo
            a
                margin 10px 15px
                margin-left 0
                img
                    width 140px
                    padding 15px
                    opacity 1
                    &#pilot
                        width 60px
                    &#google
                        width 140px
                        margin-bottom -10px


@media(max-width: 800px)
    .person
        margin-bottom 20px 0
        height 250px
        img
            width 100%
            height auto
        a
            h5
                font-size 18px
        h6
            font-size 14px
    #headwrap
        padding 0 10px
    .borders
        display none

    nav
        .social
            display none

    h2
        font-size 32px

    .leader
        h2
            p
                margin-bottom 0
                span
                    font-size 40px
            span
                font-size 26px
    .wrap
        padding-left 10px
        padding-right 10px
    h1
        font-size 64px
    .mast
        h2
            font-size 32px
    h3#google
        font-size 24px
        img
            width 150px
    #first, #pilot
        margin 0
        text-align center
    header
        #pilot
            margin 0
            text-align center            
    footer
        .top
            display inline
    .section.sponsors
        .sponsorlogo
            a
                margin 5px 10px
                margin-left 0
                img
                    width 120px
                    padding 15px
                    opacity 1
                    &#pilot
                        width 60px
                    &#google
                        width 120px
                        margin-bottom -10px

    #logotext
        width 420px
        height 110px
        background-size 100%

@media(max-width: 650px)
    .person
        column(14)
        margin-bottom 10px
        height auto
        img
            display none
        a
            h5
                font-size 20px
                width 100%
                margin-bottom -10px
        h6
            font-size 12px
    nav.page, nav.homepage
        display none
    header
        margin-top 0px
    .button
        &.register
            font-size 36px
            padding 15px 16px 16px 23px
            transition: 0
            &:active
                color darken(blue, 30%)
                background #fff
    .social
        padding-left 40px
    .section
        &.leader
            margin-bottom 0
            padding-bottom 0
        &.short
            margin-top 0
        &.sponsors
            img, a
                height 30px
                padding 4px
                margin 5px
                vertical-align 0
            img#pilot
                height 40px
            img#google
                height 40px
            h5
                margin-top 10px
                font-size 18px
    .mast
        h2
            font-size 36px
    h2
        font-size 36px
    .faq
        .wrap, .seven
            width 100%
            margin 0
            padding 0 10px
            &.left, &.right
                padding 0
        h5
            font-size 24px
        span
            font-size 20px
            line-height 0.8em
            font-weight 500
        h3
            font-size 28px
            font-weight 700
            margin-bottom 10px
            margin-top 30px
            background darken(blue, 30%)
            padding 15px 5px
            color #fff
    .register
        span
            display none
        textarea#why
            width 90%
            height 170px
    footer
        a
            border-bottom 1px solid #fff
        .links
            padding-top 10px
            h4
                display block
                font-size 18px
                a
                    border-bottom 0  
    .seven.right
            margin-top 30px
    .social
        margin-top -10px    
    #container
        background #4f7ee9


@media(max-width: 400px)
    .leader
        background url(../img/dome_transparent_iphone_compress.png)
        background-size auto 80%
        background-position top center
        background-repeat no-repeat
        padding-top 40px
        .button.register
            margin-top 0px
            margin-bottom 15px
            &:first-child
                margin-top 20px
            p
                span
                    font-size 36px
                    line-height 1.0em
            span
                font-size 18px
    header
        padding-top 30px
        h1
            font-size 65px
        #first, #pilot
            font-size 26px
    .social
        display none
    h3#google
        font-size 18px
        opacity 1
        margin-top 0px
        img
            margin-top 5px
            width 100px
    .section.sponsors
        .sponsorlogo
            a
                margin 5px 7px
                margin-left 0
                img
                    width 110px
                    padding 15px
                    opacity 1
                    &#pilot
                        width 60px
                    &#google
                        width 120px
                        margin-bottom -10px      
    .register
        margin 0
    h2, .mast h2
        font-size 26px
    h3
        font-size 18px    
    #logotext
        width 260px
        height 75px
        background-size 100%
    header
        #pilot
            font-size 20px
            img
                height 30px 