@import '_settings'

blue = #4f7ee9
orange = darken(blue, 30%)
bluegreen = #76A8A9
yellow = #FFCF69
bordersize = 2px
borderdist = -10px
sfont = Arvo, Tahoma, serif
ssfont = "Whitney HTF", "Whitney HTF Book", sans-serif
maxwidth = 1200px
normalize()
base()

body
    background blue
    color white
    font-family ssfont
    font-weight 200
    font-size 22px
    line-height 1.4

a
    text-decoration none

    &:hover
        border-bottom 1px solid blue

#wrapper
    position relative
    max-width 1100px
    margin 0px auto

.bordertext
    color orange
    font-weight 500

.image-bg
    width 200%
    height 200%
    position absolute
    top -50%
    left -50%

    img
        min-width 50%
        min-height 50%
        position absolute
        top 25%
        left 25%

p
    margin 19px 0

h1,h2,h3,h4,h5,h6
    font-weight normal
h1
    font-family: sfont
    font-size: 120px;
    margin-top 0
    margin-bottom: 0

    &.sans
        font-family: ssfont

h2
    font-family: ssfont
    font-weight 200
    font-size: 56px
    margin .5em 0
    

h3
    font-family: ssfont 
    font-weight 200
    font-size: 30px
    margin-top: 0

h4
    font-family sfont
    font-size 40px
    margin .5em 0
    text-transform uppercase

h5
    font-family: ssfont
    font-size 24px
    margin 0

.section
    background-size cover
    background-position center center
    background-repeat no-repeat
    width 100%
    overflow hidden
    position relative
    padding 20px 0px 35px 0px
    box-sizing border-box

    a
        color white

    &.white
        background white
        color #444

        a
            color blue

    &.dark
        background #333
        color white
        a
            color blue

    &.sponsors
        img
            opacity 0.5
            height 40px
            margin-right 40px

        #sponsorlogo
            a
                margin 10px 30px
                display inline-block
                line-height 75px

                img
                    max-height 32px
                    width auto
                    padding 10px 0
                    -webkit-filter: grayscale(100%)
                    -ms-filter: grayscale(100%)
                    -o-filter: grayscale(100%)
                    opacity 1.0

                &:hover
                    text-decoration none

#first
    margin-left -300px

#pilot
    margin-left 400px
    font-style italic
    margin-top -20px
    img
        opacity 0.9
        height 50px
        vertical-align -5px

.wrap, header 
    max-width maxwidth
    margin 0px auto

.content
    max-width 900px


.upper
    text-transform uppercase

.small
    font-family ssfont
    font-size 18px


.button
    background white
    font-family ssfont
    font-weight 500
    font-size 29px
    color blue
    padding 20px 23px 19px 23px
    text-transform uppercase
    display inline-block
    margin-right 25px
    text-decoration none
    border 1px solid white

    &:hover
        border 1px solid #fff

    &.register
        margin-top 20px
        margin-bottom 40px
        color blue
        padding 30px 46px 26px 43px
        font-size 46px

    &.small
        padding 0
        background transparent
        font-family ssfont
        font-size 18px
        position relative
        bottom 3px
        border 0px

        &:hover
            border-bottom 1px solid white

#google
    margin-top 28px
    text-align center
    opacity 0.7
    line-height 0.3em
    letter-spacing 0.11em
    text-transform uppercase
    img
        width 186px
        margin-top 10px
        opacity 1
    span
        letter-spacing 0.07em
        margin-top -6px

.wrap
    padding 0 50px
    box-sizing border-box

.leader
    line-height 1
    text-align center
    background url(../img/dome_transparent.png)
    background-size auto 280%

    h2
        font-size 54px

    h3
        margin-top -20px
        line-height 1.4

.white.register
    text-align left

header
    box-sizing border-box
    margin-top 90px
    font-size 1.4em
    width 100%
    text-align center
    position relative
    clearfix()


nav
    padding 0
    margin 0
    z-index 1
    position fixed
    top 0
    left 0
    width 100%
    background #333

    a
        margin 0 2px
        display inline-block
        padding 15px 14px
        color white
        font-size 24px
        font-family ssfont
        font-weight 500
        &:hover
            background darken(blue, 10%)
            border 0

        &.right
            float right
            background #fff
            padding-left 30px
            padding-right 30px
            color darken(blue, 30%)
            font-weight bold

.google-maps
    position: relative
    height: 0
    overflow: hidden

    iframe
    position: absolute
    top: 0
    left: 0
    width: 100% !important
    height: 100% !important

footer
    p
        display block
    .four
        column(4)
        margin-left 0
        padding-left 0

        h4
            font-size 18px

    .break
        clearfix()


// form
h3
    border-top: 1px dotted #ddd
    padding-top: 10px

.clear
    clear: both
    margin-bottom: 50px

.register
    label
        font-weight bold
        width: 170px
        line-height: 1.0em
        margin-right: 10px
    span
        width: 70%
        margin-left: 180px
        line-height: 1.0em
        font-style: italic
        margin-bottom: 42px
        margin-top: -20px
    label, span
        display: inline-block
        float: left
        clear: left
        margin-top: 10px
    input, select, textarea
        display: inline-block
        float: left
        margin-top: 5px
        margin-bottom: 7px
        font-size: 22px
        padding: 3px 4px

    select
        border-color #999

    span#laptop
        margin-top: -15px

#otherdietary
    display: none
    margin-left: 10px

#skills
    clear: both
    display: block
    margin-left: 170px

    .skill
        float: left

        label, input
            font-weight: normal

        label
            margin-top: -18px
            margin-left: 20px

#shortanswer
    label
        width: 280px
    textarea
        width: 60%
        height: 150px

#parentcontact
    label
        width: 280px
    input


#safety
    #safetywaiver
        font-size: 18px
        border: 1px solid #ddd
        padding: 10px
        height: 400px
        overflow-y: scroll
        h4
            font-size: 24px

@import '_mq'
