extends ../layout

block title
	title FAQ | HackMIT presents: Blueprint

block nav
	include ../nav

block content
	.section.short
		.wrap
			header
				h1.sans FAQ

	.section.white.faq
		.wrap
			h3 General Event Questions
			.seven.left
				h5 What is a hackathon?
				span A hackathon is a fun collaborative development session where people work together to build cool ideas. Entrepreneurs, designers, and developers work in teams to create cool apps or prototypes for web or mobile platforms.<br><br>But Blueprint is not just a hackathon.

				h5 So how is Blueprint different?
				span Blueprint is a Pilot event, a sort of combination of a hackathon and a 14-hour workshop focused on creativity, collaboration, and learning by doing. Our event is for high school students of all skill levels&mdash;it’s totally fine if you’ve never programmed before! All you need is interest and creativity; our team of world-class mentors will help you learn the rest. You’ll get to meet mentors from a variety of innovative companies, as well as talk to entrepreneurs involved in the startup scene.<br>If you are more experienced, you’ll be able to focus on building your idea with your team, and consult with our expert mentors as needed.

				h5 Who can participate?
				span Blueprint is open to all high school students! Coding experience is not required.

				h5 What if I don't live in Boston/Cambridge?
				span You can still sign up for Blueprint, and we encourage you to do so! However, given our focus on local schools, we will not be reimbursing travel expenses. 


			.seven.right
				h5 How much does it cost?
				span Nothing. Blueprint is completely free, thanks to <a href="http://www.hackmit.org" target="_blank">HackMIT</a> as well as our amazing sponsors.

				h5 What if I don't know how to code?
				span Don't worry&mdash;you definitely won't be alone and, as long as you're interested and willing to learn, we'll teach you all you need to know over the course of the day.

				h5 Do I need a team?
				span Nope! We will have sessions to help people find team members and form teams, as well as an idea generation workshop to help people think of ideas to work on for Blueprint.

				h5 Will there be food?
				span There will be a lot of great, healthy food. We will also ensure to cater to your food allergies and dietary restrictions as specified during registration.

				h5 How does judging work?
				span Our panel of judges will rate your app based on creativity, technical difficulty, polish, and usefulness. Companies will be sponsoring prizes in a variety of categories. Exact details TBA.

				h5 Can I start my project before the event?
				span No. To make sure everyone has an equal opportunity at building a project, you may not begin your project until the start of Blueprint (8AM on February 22, 2014).

			.clear

		.wrap
			h3 Day-of Event Info
			.seven.left
				h5 How do I check-in?
				span Check-in will be from 8&ndash;9AM on the ground floor of the building. All you need is a valid photo ID.

				h5 How long is the event?
				span Doors open at 8AM, Kick-off at 9AM. The event ends at 10:30PM.

				h5 Can I bring my parents?
				span Unfortunately, we don't have enough space to accommodate parents during the day. We will broadcast our closing ceremony online on our website—we’ll send out the link beforehand.


			.seven.right
				h5 What should I bring?
				span Laptop and charger. All attendees are required to bring a valid photo ID for admission (name must match registration).
				
				h5 Do I have to be there the entire time?
				span For security reasons, you must stay in the building for the duration of the event. If your parent or guardian needs to pick you up before the conclusion, he or she will need to contact event staff and check you out through our registration system.

				h5 I have a question that's not listed here. Who should I ask?
				span Email us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>.

			.clear