.section
	.wrap
		header
			h1.sans FAQ

.section.white
	.wrap
		h3 General Event Questions
		.six
			h5 What is a hackathon?
			span A hackathon is a combination between a computer programming workshop and art show. It is an event where people come together and collaborate to build them. Entrepreneurs, designers, and developers work in teams to create hacks and apps for web or mobile platforms - in our case, these creators are high school students.
			h5 Who can participate?
			span Blueprint is open to all high school students! Coding experience is not required. You aren't required to have ever attended a hackathon before: we will have tech talks beforehand so you can ramp up quickly. You can come with a team or come alone - there will be a place for you.
			h5 Do I need a team? Will I be able to find a team? Can I do it alone?
			span Nope! We will have sessions to help people find team members and/or form teams, as well as an idea generation workshop to help people think of ideas to work on for the hackathon. So you should sign up regardless!
			h5 
		.six
			h5 How do I cancel my registration?
			span There is a link to cancel your registration in the registration email confirmation. If you don't have that anymore, just send us an email at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>.
			h5 Will there be food?
			span There will be a lot of great food! We'll make sure you are fed well so you can focus on learning and inspiring.
			h5 How does judging work?
			span We are working out the exact details, but teams will demo their projects to the judges Sunday afternoon. Our panel of judges will rate your app based on creativity, technical difficulty, polish, and usefulness.
			h5 Can I build a hardware project?
			span No, unfortunately we are focusing on software for this event.
			h5 I have a question that's not listed here. Who should I ask?
			span Email us at <a href="mailto:blueprint@hackmit.org">blueprint@hackmit.org</a>.

		.clear

	.wrap
		h3 Personal Action Items
		.six
			h5 What should I bring?
			span Laptop and charger. All attendees are required to bring a valid student ID for admission (name must match registration).
		.six
			h5 Can I start my project before the event?
			span No. In the interest of fairness, you may not begin your project until 8AM on February 22, 2014.

		.clear

	.wrap
		h3 Day-of Event Logistics
		.six
			h5 How do I check-in?
			span Check-in will be from 8&ndash;9AM on the ground floor of the building. All you need is a valid student ID.
			h5 Can I bring my parents?
			span Unfortunately we don't have enough space to accomidate parents during the day. However, parents are allowed during the closing ceremony. They must be your designated parent contact and must have a valid government ID with name matching registration.
			h5 Do I have to be there the entire time?
			span For security reasons, you must stay in the building for the duration of the event. If your parent or guardian needs to pick you up before the conclusion, he or she will need to contact event staff and check you out through our registration system.

		.clear